<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bootstrap.css" />
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        #contenedor {
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            width: 400px;
        }

        #contenedor p {
            text-align: center;
        }

        #contenedor input[type="submit"] {
            float: right;
        }

        #botonCrearContainer {
            text-align: right;
            padding-top: 10px;
        }
    </style>
    <title>Página de registro</title>
</head>

<body>
    <form>
        <div id="contenedor">
            <h1 style="text-align: center;">Registro Admin UDP</h1>
            <h2 style="text-align: center;">Ingrese sus datos</h2>
                <div>
                    <p>
                        <label for="nombre_usuario">Nombre Completo:</label>
                        <input id="nombre_usuario" style="max-width: 100px" placeholder="Nombre Completo" />
                    </p>
                    <p>
                        <label for="nombre_usuario">Rut:</label>
                        <input id="nombre_usuario" style="max-width: 100px" placeholder="Rut" />
                    </p>
                    <p>
                        <label for="nombre_usuario">Contraseña:</label>
                        <input id="nombre_usuario" style="max-width: 100px" placeholder="Contraseña" />
                    </p>
                    <p>
                        <label for="nombre_usuario">Confirme Contraseña:</label>
                        <input id="nombre_usuario" style="max-width: 100px" placeholder="Confirme Contraseña" />
                    </p>
                </div>
            <center>
                <div class="col-md-4 text-right"
                    id="botonCrearContainer">
                    <a href="/RegistroListo" class="btn btn-primary boton boton-homepage">Registrar</a>
                </div>
            </center>
        </div>
    </form>
</body>

</html>